absl-py==2.1.0
antlr4-python3-runtime==4.9.3
black==24.10.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.0
cmake==3.31.4
contourpy==1.3.1
cycler==0.12.1
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@b1c43ffbc995426a9a6b5c667730091a384e0fa4
distro==1.9.0
filelock==3.16.1
fonttools==4.55.3
fsspec==2024.12.0
fvcore==0.1.5.post20221221
git-filter-repo==2.47.0
grpcio==1.69.0
hydra-core==1.3.2
idna==3.10
iopath==0.1.9
Jinja2==3.1.5
kiwisolver==1.4.8
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.10.0
mpmath==1.3.0
mypy-extensions==1.0.0
networkx==3.4.2
numpy==1.26.4
omegaconf==2.3.0
opencv-python @ file:///tmp/tmp.TlHXpsKKFs/opencv-python-master/opencv_python-4.6.0%2B4638ce5-cp311-cp311-linux_aarch64.whl#sha256=b56d97bb8bb9c27aeab6c63125879e2067daee853bf5aa673e87bfb2ecdac86f
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.6
portalocker==3.1.1
protobuf==5.29.3
psutil==6.1.1
py-cpuinfo==9.0.0
pycocotools==2.0.8
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
scikit-build==0.18.1
scipy==1.15.1
seaborn==0.13.2
six==1.17.0
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
termcolor==2.5.0
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
ultralytics==8.3.59
ultralytics-thop==2.0.13
urllib3==2.3.0
Werkzeug==3.1.3
yacs==0.1.8
yt-dlp==2025.1.12
